.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 300px;
    border: 2px dashed;
    border-radius: 5px;
    background: white;
    margin-left: 50px;
    margin-right: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}

input[type="file"] {
    display: none;
}
