<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>Über uns</b></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Officiis perferendis rem, aut aliquam neque nam? dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit. 
            Officiis perferendis rem, aut aliquam.</p>
          <button mat-raised-button color="primary">Contact Us</button>
        </div>
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>Kontakt aufnehmen</b></h4>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="primary">email</mat-icon>
              <h5 matLine><b>Email</b></h5>
              <p matLine> webmaster@covid-check@de </p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon color="primary">location_on</mat-icon>
                <h5 matLine><b>Adresse</b></h5>
                <p matLine>Am Brambusch 15 </p>
                <p matLine>44534 Lünen</p>
              </mat-list-item>
          </mat-list>
        </div>
        <div fxFlex="25" class="footer-box">
          <h4 class="footer-box-title"><b>Impressum</b></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis perferendis rem, aut aliquam neque nam?</p>
          <div class="socials pt-1">
            <ul>
              <li><a href="" class="social-icon linkedin"></a></li>
              <li><a href="" class="social-icon twitter"></a></li>
              <li><a href="" class="social-icon facebook"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>