<section id="portfolio-section" class="portfolio home-section" >
  <div class="container">
    <div class="section-header">
      <h2>Covid - Check</h2>
      <p>Die zentrale Plattform zur Verwaltung von Covid-19 Tests. 
      </p>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="../../../assets/images/sq-10.png">
          <mat-card-content>
            <h3><strong><a href="">Patienten</a></strong></h3>
            <p>
              Sie möchten einen Covid-19 Test durchführen lassen? Vereinbaren Sie ganz einfach online einen Termin und erhalten das Ergebnis schnellstmöglich auf ihr Mobilgerät.
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="../../../assets/images/sq-1.png">
          <mat-card-content>
            <h3><strong><a href="">Ärzte</a></strong></h3>
            <p>
            Führen Sie online eine erste Risikoprüfung durch und verwalten Sie alle Proben zentral. Hinterlegen Sie Patienten und Proben Dokumente mit weiteren Informationen.
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="../../../assets/images/sq-3.png">
          <mat-card-content>
            <h3><strong><a href="">Labore</a></strong></h3>
            <p>
              Erhalten Sie eine Liste mit priorisierten Proben und weiteren Informationen. Nach Prüfung werden die Patienten automatisch informiert und bekommen weitere Unterstützung.
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="text-center home-section-action">
      <button mat-raised-button mat-lg-button color="primary">Login</button>
    </div>
  </div>
</section>