<mat-divider></mat-divider>
<br />
<mat-toolbar color="Accent">
    <mat-toolbar-row>
        <span>
            <mat-form-field>
                <mat-label>Suche nach</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
            </mat-form-field>
        </span>
        <span class="example-fill-remaining-space"></span>
        <span>
            <button mat-flat-button color="primary" (click)='createTest()'>Neuen Test durchführen</button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
<table mat-table [dataSource]="dataSource" matSort class="example-full-width">

    <!-- fileNumber Column -->
    <ng-container matColumnDef="fileNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Aktennummer</th>
        <td mat-cell *matCellDef="let element"> {{element.fileNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum<th>
        <td mat-cell *matCellDef="let element"> {{dateNullSafe(element)| date: 'dd. MM. yyyy'  }} </td>-->
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element"> {{stateNullSafe(element) }} </td>-->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)"></tr>
</table>