.menu-fill-remaining-space {
    flex: 1 1 auto;
  }
  .profile-picture {
    border-radius: 50%;
    width: 30px;
    height: 30x;
    box-sizing: border-box;
    background-color: #DDD;
    border: 1px solid #cfd8dc;
  }