<button mat-flat-button mat-dialog-close color="secondary" style="float: right;">X</button>
<h1 mat-dialog-title>Neuen Patient anlegen</h1>
<mat-horizontal-stepper [linear]=true #stepper>
    <mat-step label="Stammdaten">
        <form class="example-form">

            <br />
            <mat-radio-group aria-label="Geschlecht">
                <mat-radio-button value="1">Männlich</mat-radio-button><br />
                <mat-radio-button value="2">Weiblich</mat-radio-button><br />
                <mat-radio-button value="2">Divers</mat-radio-button><br />
            </mat-radio-group>
            <br />
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input #lastname  matInput placeholder="Mustermann" value="Mustermann">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Vorname</mat-label>
                <input #firstname matInput placeholder="Max" value="Max">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Geburtsdatum</mat-label>
                <input matInput [matDatepicker]="birthdatepicker">
                <mat-datepicker-toggle matSuffix [for]="birthdatepicker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </form>
    </mat-step>
    <mat-step label="Adresse">

        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" mapTypeId="hybrid"
            [zoomControl]="false" [streetViewControl]="false">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
        <mat-google-maps-autocomplete country="de" type="address" addressLabelText="Bitte geben Sie die Adresse ein"
            (onAutocompleteSelected)="onAutocompleteSelected($event)" (onLocationSelected)="onLocationSelected($event)">
        </mat-google-maps-autocomplete>
        <br />
    </mat-step>

    <mat-step label="Kontaktdaten">
        <mat-form-field class="example-full-width">
            <mat-label>Telefon</mat-label>
            <input matInput placeholder="Telefon- oder Handynummer" value="+49 12345678">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>E-Mail Adresse</mat-label>
            <input matInput placeholder="max.mustermann@xyz.de" value="max.mustermann@xyz.de">
        </mat-form-field>
    </mat-step>
</mat-horizontal-stepper>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" *ngIf="stepper.selectedIndex < 2" (click)="stepper.next()">Weiter</button>
    <button mat-flat-button color="primary" *ngIf="stepper.selectedIndex > 0"
        (click)="stepper.previous()">Zurück</button>
    <span style="flex: 1 1 auto;"></span>
    <button mat-flat-button color="primary" *ngIf="stepper.selectedIndex == 2" (click)="finish($event)"
        style="float: right;">Speichern</button>
</mat-dialog-actions>